.banner {
	height: 100px;
	background: url(../img/D_RPG_1_o.png) no-repeat;
	position: relative;
	background-color: #1e1e1e;
	background-size: contain;
}

.small-banner {
	height: 50px;
	background: url(../img/D_RPG_1_o.png) no-repeat;
	position: relative;
	background-color: #1e1e1e;
	background-size: contain;
	background-position: 44px;
	background-size: 300px;
}

.container.banner-wrapper {
	box-shadow: 0 0 30px black;
}

.menu-wrapper {
	background: url(../img/templatemo_top_bg.jpg) repeat-x;
	background-position: 0 -250px;
	border: 0px;
	margin-bottom: 0px;
}

.container.menu {
	background: url(../img/templatemo_menu_bg.jpg);
	padding-top: 5px;
	box-shadow: 0 0 30px black;
}

.container.menu .navbar-collapse .nav li.active>a {
	background: transparent;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-register {
	max-width: 450px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.tooltipable:HOVER {
	text-decoration: none;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin button {
	margin-bottom: 10px;
}

.alert-short {
	padding-top: 8px;
	padding-bottom: 8px;
}

.content-block {
	background: #1b1919;
	border: 1px solid #363434;
	padding: 15px;
}

.content-block.center {
	max-width: 96%;
	margin-left: 2%;
}

.content-block.right {
	max-width: 98%;
}

.content-block.bottom {
	margin-top: 10px;
}

.search {
	margin-bottom: 10px;
}

.container.main {
	box-shadow: 0 0 30px black;
	padding: 35px;
}

.control-group .help-block li {
	list-style: none;
}

.control-group.warning>label, .control-group.warning .help-block,
	.control-group.warning .help-inline {
	color: #c09853;
}

.control-group.warning input, .control-group.warning select,
	.control-group.warning textarea {
	color: #c09853;
	border-color: #c09853;
}

.control-group.warning input:focus, .control-group.warning select:focus,
	.control-group.warning textarea:focus {
	border-color: #a47e3c;
	-webkit-box-shadow: 0 0 6px #dbc59e;
	-moz-box-shadow: 0 0 6px #dbc59e;
	box-shadow: 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on
	{
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #c09853;
}

.control-group.error>label, .control-group.error .help-block,
	.control-group.error .help-inline {
	color: #b94a48;
}

.control-group.error input, .control-group.error select, .control-group.error textarea
	{
	color: #b94a48;
	border-color: #b94a48;
}

.control-group.error input:focus, .control-group.error select:focus,
	.control-group.error textarea:focus {
	border-color: #953b39;
	-webkit-box-shadow: 0 0 6px #d59392;
	-moz-box-shadow: 0 0 6px #d59392;
	box-shadow: 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on
	{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #b94a48;
}

.control-group.success>label, .control-group.success .help-block,
	.control-group.success .help-inline {
	color: #468847;
}

.control-group.success input, .control-group.success select,
	.control-group.success textarea {
	color: #468847;
	border-color: #468847;
}

.control-group.success input:focus, .control-group.success select:focus,
	.control-group.success textarea:focus {
	border-color: #356635;
	-webkit-box-shadow: 0 0 6px #7aba7b;
	-moz-box-shadow: 0 0 6px #7aba7b;
	box-shadow: 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on
	{
	color: #468847;
	background-color: #dff0d8;
	border-color: #468847;
}

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid
	{
	color: #b94a48;
	border-color: #ee5f5b;
}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus,
	select:focus:required:invalid:focus {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

.scroll_list_219 {
	max-height: 219px;
	min-height: 219px;
	overflow-x: overlay;
}

.scroll_list_150 {
	max-height: 150px;
	overflow-x: overlay;
}

.scroll_description {
	max-height: 185px;
	min-height: 185px;
	overflow-x: overlay;
	margin-bottom: 10px;
}

.nice_list ul {
	margin: 0px;
	padding: 0px;
}

.nice_list ul li {
	margin: 0px;
	padding: 0 0 0 0;
	margin-bottom: 5px;
	border-left: 5px solid #000;
	list-style: none;
}

.nice_list ul li.gm {
	border-color: green;
}

.nice_list ul li a {
	display: block;
	background: #242224;
	padding: 5px 0 5px 10px;
	color: #b5b1b1;
	text-decoration: none;
}

.nice_list ul li a:hover {
	color: #ffffff;
	background: #000;
}

.horizontal_divider {
	background: url(../img/templatemo_horizontal_divider.jpg) bottom
		repeat-x;
	height: 2px;
}

.nice_list .close.glyphicon {
	line-height: 2;
}

.close.glyphicon {
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	color: inherit;
	text-shadow: inherit;
	opacity: 1;
	margin-right: 5px;
}

.close.glyphicon.wide {
	margin-right: 10px;
}

.overflown {
	width: -moz-calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: calc(100% - 30px);
	text-overflow: ellipsis;
	overflow-x: overlay;
	margin: 0px;
	white-space: nowrap;
}

.overflown.right_40 {
	width: -moz-calc(100% - 40px);
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
}

.overflown.right_70 {
	width: -moz-calc(100% - 70px);
	width: -webkit-calc(100% - 70px);
	width: calc(100% - 70px);
}

.campaign-description-short {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 30px;
}

.img-responsive {
	min-width: 100%
}

textarea {
	resize: vertical;
}

.img-height-responsive {
	max-height: 20px;
	max-width: 20px;
	height: auto;
	width: auto;
	margin-right: 4px;
}

.left-pane {
	box-shadow: 1px 0px 0px 0px #363434;
}

.top-pane {
	box-shadow: 0px 1px 0px 0px #363434;
}

.right-pane {
	border-left: #363434 1px solid;
}

a:focus {
	outline: 0px;
	text-decoration: none;
}

.scroll_list_400 {
	max-height: 400px;
	overflow-x: overlay;
}

.vertical-scroll-max-350 {
	max-height: 350px;
	overflow-y: scroll;
}

/* General styles for all menus - TODO: validate which ones I need and change some according to css */
.main-container {
	padding: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cbp-spmenu {
	background: #272525;
}

.cbp-spmenu.hideable-menu {
	position: fixed;
	border-right: 1px solid #f5f5f5;
}

.cbp-spmenu h3 {
	color: #272525;
	font-size: 1.9em;
	padding: 21px 20px;
	margin: 0;
	font-weight: 300;
	background: #f5f5f5;
}

.cbp-spmenu h4 {
	color: #272525;
	font-size: 1.4em;
	padding: 20px;
	padding-bottom: 17px;
	padding-top: 17px;
	margin: 0;
	font-weight: 300;
	margin: 0;
	font-weight: 300;
	background: #f5f5f5;
}

.cbp-spmenu h4.inverse, .cbp-spmenu h5.inverse {
	background-color: #272525;
	color: #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

.cbp-spmenu h5 {
	margin: 0px;
	color: #272525;
	background: #f5f5f5;
}

.cbp-spmenu h5 a {
	font-size: 1.2em;
	padding: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin: 0;
	font-weight: 300;
}

.cbp-spmenu h5 a:hover {
	background: #e5e5e5;
	color: #474545;
}

.cbp-spmenu a {
	display: block;
	color: #aaa;
	font-size: 1.1em;
	font-weight: 400;
	border-bottom: 1px solid #f5f5f5;
	padding: 20px;
}

.cbp-spmenu .short {
	padding-top:10px;
	padding-bottom:10px;
}

.cbp-spmenu a:hover {
	/* 	background: #ddd; */
	color: #ccc;
	text-decoration: none;
}

.cbp-spmenu a.active {
	color: #fff;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
	overflow-y: scroll;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toright .main-container {
	padding-left: 240px;
	margin-right: -240px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	position: fixed
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */
.cbp-spmenu, .cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}
	.cbp-spmenu-top {
		top: -110px;
	}
	.cbp-spmenu-bottom {
		bottom: -110px;
	}
}

@media screen and (max-height: 26.375em) {
	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}
	.cbp-spmenu-left, .cbp-spmenu-push-toleft {
		left: -190px;
	}
	.cbp-spmenu-right {
		right: -190px;
	}
	.cbp-spmenu-push-toright {
		left: 190px;
	}
}