/*
CSS Credit: http://www.templatemo.com
*/
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	background: #272525 url(../img/templatemo_top_bg.jpg) repeat-x;
	background-position: 0 -100px;
}

a:link,a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}

a:active,a:hover {
	color: #999999;
	text-decoration: underline;
}

p {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 0px;
	font-size: 0px;
}

.margin_bottom_5 {
	clear: both;
	width: 100%;
	height: 5px;
	font-size: 1px;
}

.margin_bottom_10 {
	clear: both;
	width: 100%;
	height: 10px;
	font-size: 1px;
}

.margin_bottom_20 {
	clear: both;
	width: 100%;
	height: 20px;
	font-size: 1px;
}

.margin_bottom_30 {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;
}

.margin_bottom_40 {
	clear: both;
	width: 100%;
	height: 40px;
	font-size: 1px;
}

.margin_bottom_50 {
	clear: both;
	width: 100%;
	height: 50px;
	font-size: 1px;
}

.margin_bottom_60 {
	clear: both;
	width: 100%;
	height: 60px;
	font-size: 1px;
}

.margin_right_10 {
	margin-right: 10px;
}

.margin_right_60 {
	margin-right: 60px;
}

.margin_top_15 {
	margin-top: 15px;
}

.margin_bottom_15 {
	margin-bottom: 15px;
}

.horizontal_divider {
	background: url(../img/templatemo_horizontal_divider.jpg) bottom
		repeat-x;
}

.border_bottom {
	border-bottom: 1px dashed #000;
}

.border_top {
	border-top: 1px dashed #000;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.rc_btn_01 a {
	clear: both;
	display: block;
	width: 120px;
	height: 25px;
	padding: 5px 0 0 0;
	font-size: 12px;
	text-align: center;
	color: #000000;
	text-decoration: none;
	border: none;
	background: url(../img/templatemo_button_01.png) no-repeat;
}

#templatemo_wrapper_outer {
	width: 100%;
	margin: 0 auto;
}

#templatemo_wrapper_inner {
	width: 980px;
	margin: 0 auto;
	padding: 0 5px;
	background: url(../img/templatemo_wrapper_bg.png) repeat-y;
}

#templatemo_banner {
	width: 980px;
	height: 150px;
	background: url(../img/digital_rpg_banner_nc.png) no-repeat;
	position: relative;
	background-color: #1e1e1e;
}

#templatemo_banner.blue {
	width: 980px;
	height: 150px;
	background: url(../img/digital_rpg_banner.png) no-repeat;
	position: relative;
	background-color: #191f2b;
}

.banner_icon {
	position: absolute;
	display: block;
	cursor: default;
	right: 21px;
	top: 16px;
}

/* menu */
#templatemo_menu {
	clear: both;
	width: 600px;
	height: 65px;
	padding: 0 220px;
	background: url(../img/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	width: 600px;
	margin: 0px;
	padding: 20px 0 0 15px;
	list-style: none;
}

#templatemo_menu ul li {
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	padding: 0 20px;
	text-align: center;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #999999;
	font-weight: bold;
}

#templatemo_menu li a:hover,#templatemo_menu li .current {
	color: #ffffff;
}
/* end of menu*/
#templatemo_content_wrapper {
	clear: both;
	width: 960px;
	padding: 10px;
}

.templatemo_multi_content {
	float: left;
	width: 500px;
}

.templatemo_content {
	float: left;
	width: 460px;
	padding: 20px 19px 0 19px;
	background: #1b1919;
	border: 1px solid #363434;
}

.templatemo_content.width_70_p {
	width: 292px;
}

.templatemo_content.width_25_p {
	width: 118px;
}

.templatemo_content.width_30_p {
	width: 120px;
}

.templatemo_content.form_message,.templatemo_content_centered.form_message
	{
	border-color: green;
}

.templatemo_content.error_message,.templatemo_content_centered.error_message
	{
	border-color: red;
}

.templatemo_content_centered {
	width: 460px;
	padding: 20px 19px 0 19px;
	background: #1b1919;
	border: 1px solid #363434;
	margin-left: auto;
	margin-right: auto;
}

.header_01 {
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	/*color: #e40b0b;*/
}

.header_02 {
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	/*color: #e40b0b;*/
}

.header_03 {
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	/*color: #99be29;*/
}

.header_03 a {
	color: #ffffff;
	text-decoration: none;
}

.header_03 a:hover {
	color: #99FF00;
}

.templatemo_side_bar {
	float: left;
	width: 180px;
	padding: 20px 19px 0 19px;
	background: #1b1919;
	border: 1px solid #363434;
}

.templatemo_side_bar ul,.nice_list ul {
	margin: 0px;
	padding: 0px;
}

.templatemo_side_bar ul li,.nice_list ul li {
	margin: 0px;
	padding: 0 0 0 0;
	margin-bottom: 5px;
	border-left: 5px solid #000;
	list-style: none;
}

.templatemo_side_bar ul li.gm {
	border-color: green;
}

.templatemo_side_bar ul li a,.nice_list ul li a {
	display: block;
	background: #242224;
	padding: 5px 0 5px 10px;
	color: #b5b1b1;
	text-decoration: none;
}

.templatemo_side_bar ul li a:hover,.nice_list ul li a:hover {
	color: #ffffff;
	background: #000;
}

.templatemo_side_bar form {
	margin: 0px;
	padding: 0px;
}

.field {
	padding: 5px 0 0 0;
	height: 20px;
	width: 175px;
	margin-bottom: 10px;
}

.field.error {
	border-color: red;
}

.field.valid {
	border-color: green;
}

.login_label {
	display: inline-block;
	width: 70px;
	margin-left: 40px;
	font-weight: bold;
}

.register_label {
	display: inline-block;
	width: 120px;
	margin-left: 60px;
	font-weight: bold;
}

.generic_label {
	display: inline-block;
	width: 120px;
	margin-left: 10px;
	font-weight: bold;
}

.generic_label.no_margin {
	margin-left: 0px;
}

.generic_label.wide {
	width: 160px;
}

.generic_label.wider {
	width: 180px;
}

.generic_label.widest {
	width: 200px;
}

.generic_label.narrow {
	width: 80px;
}

.generic_label.narrower {
	width: 60px;
}

.generic_label.narrowest {
	width: 40px;
}

.generic_field {
	padding: 5px 0 0 0;
	height: 20px;
	width: 175px;
	margin-bottom: 10px;
}

.generic_field.narrow {
	width: 150px;
}

.generic_field.narrower {
	width: 125px;
}

.generic_field.narrowest {
	width: 100px;
}

.generic_field.tiny {
	width: 75px;
}

.generic_field.tinier {
	width: 50px;
}

input[type="checkbox"].generic_field {
	width: 15px;
	height: 15px;
}

.generic_field#description {
	width: 300px;
	height: auto;
}

select.generic_field {
	padding-top: 0px;
}

.generic_field.error {
	border-color: red;
}

.generic_field.valid {
	border-color: green;
}

.generic_value {
	display: inline;
}

#reCaptcha {
	margin-left: 60px;
}

.reset_link {
	display: inline-block;
	width: 130px;
	margin-left: 110px;
}

.reset_link a,.register_link a,a.search_result {
	cursor: pointer;
	font-weight: bold;
}

a.search_result:hover {
	color: #fff;
}

.register_link {
	display: inline-block;
}

.small_button {
	float: right;
	width: 120px;
	height: 30px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	white-space: pre;
	background: url(../img/templatemo_button_01.png) no-repeat;
	color: #000000;
	border: none;
	font-weight: bold;
}

.content_section {
	clear: both;
	padding: 0 0 0 0;
}

.hidden, div.hidden {
	display: none;
}

.content_section p span {
	color: #ffffff;
}

.templatemo_dialog {
	
}

.image_wrapper_01 {
	float: left;
	position: relative;
	margin: 3px 20px 0 0;
	background: #131212;
	padding: 4px;
}

.image_wrapper_01 img {
	border: 1px solid #363434;
}

div.templatemo_content.character_image {
	padding: 10px;
	width: 136px;
}

.character_image img{
	width: 134px;
	border: 1px solid #999;
}

.image_wrapper_02 {
	position: relative;
	margin: 0 0 10px 0;
	background: #131212;
	padding: 4px;
}

.image_wrapper_02 span {
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 10px;
	right: 10px;
	background: url(../img/templatemo_play_icon.jpg) no-repeat;
}

.image_wrapper_02:hover span {
	background: url(../img/templatemo_play_icon_hover.jpg) no-repeat;
}

.image_wrapper_02 img {
	border: 1px solid #363434;
}

.image_wrapper img {
	border: 1px solid #363434;
}

.latest_news {
	clear: both;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#templatemo_footer {
	clear: both;
	width: 990px;
	height: 40px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	text-align: center;
	background: url(../img/templatemo_footer.jpg) no-repeat;
}

.delete_icon {
	float: right;
	width: 16px;
	height: 16px;
	background: url(../img/delete2.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.user_details {
	float: right;
	clear: both;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 10px;
}

.user_details span {
	color: #fff;
}

.user_details span a {
	color: #999999;
	font-weight: bold;
}

.user_details span a:hover {
	color: #fff;
}

.logout_button {
	border-width: 0px;
	color: #999999;
	background-color: transparent;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}

.logout_button:hover {
	color: #fff;
}

.scroll_list_219 {
	max-height: 219px;
	min-height: 219px;
	overflow-x: overlay;
}

.scroll_list_150 {
	max-height: 150px;
	overflow-x: overlay;
}

.scroll_description {
	max-height: 200px;
	min-height: 200px;
	overflow-x: overlay;
}

.toggle_header {
	background: url("../img/arrow_down.png") no-repeat;
	background-size: 16px;
	background-position-x: 165px;
	cursor: pointer;
}

.toggle_header.closed {
	background-image: url("../img/arrow_up.png");
}

.campaign_request_join {
	display: inline-block;
	float: right;
}

.header_02.campaign_header {
	display: inline-block;
}

.unread_messages {
	background: url("../img/alert.png") no-repeat;
	background-size: 16px;
}

.nice_list ul li a.accept_request,.nice_list ul li a.accept_request:hover
	{
	background-image: url("../img/ok.png");
	background-size: 16px;
	background-repeat: no-repeat;
	background-position-x: 93px;
	background-position-y: 4px;
}

.blockUI {
	background-color: #272525;
	color: #999;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 20px 19px 0 19px;
	margin: 0;
	width: 30%;
	top: 40%;
	left: 35%;
	textAlign: center;
	border: 3px solid #aaa;
	cursor: wait;
}

.blockUI h1 {
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	/*color: #e40b0b;*/
}

.blockUI h2 {
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	/*color: #e40b0b;*/
}

.blockUI h3 {
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	/*color: #99be29;*/
}
