<html>
<body>
<h3>Hello, ${username} has invited you to join his campaign ${campaign.name} at Digital RPG</h3>

<div>
	To join please follow this <a href="${contextPath}/campaigns?show_form=join_campaign&campaign_id=${campaign.id}">link</a>.
</div>
</body>

</html>